body {
    margin: auto;
    font-family: Outfit;
}

h1 {
    margin: 0;
    font-size: medium;
    font-weight: 300;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 300px;
}

#score {
    width: 100px;
    height: 100px;
    background-color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    display: flex;
    margin-bottom: 10px;
    width: 340px;
    height: 40px;
    background-color: aqua;
}

button {
    color: aliceblue;
    background-color: hsla(224, 30%, 27%, 85%);
    border-radius: 20px;
    width: 340px;
    height: 40px;
}