body {
    margin: auto;
    font-family: Outfit;
}

h1 {
    margin: 0;
    font-size: medium;
    font-weight: 300;
}

header {
    color: aliceblue;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 300px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    margin-bottom: 10px;
    width: 340px;
    background-color: aqua;
}